:root {
    --primary-color:#000;
    --secondry-color:#fff;
    --paragraph-color:#5A5A5A;
    --available-text-color:#178D00;
    --bg-available-color:#E1F9DC;
    --icon-color:#5C5252;
    --border-color:#E7E4E4;
    --btn-bg-color:#F2F2F2;
    --main-padding:140px;
    --padding-right:128px;
}
body {
    font-family: "Manrope", sans-serif;
}
a {
    text-decoration: none;
}
i {
    color: var(--icon-color);
    font-size: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
/* components */
@media (min-width:900px) {
    .container {
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        padding-right: 100px;
        padding-left: 100px;
    }
}
@media (min-width:992px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
}
.btn {
    background-color: var(--primary-color);
    color: var(--secondry-color);
    font-size: 14px;
    font-weight: bold;
}
h1 {
    font-size: 26px;
    font-weight: 700;
    color: var(--primary-color);
}
p {
    font-size: 14px;
    color: var(--paragraph-color);
}
@media (min-width:767px) {
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 16px;
    }
}
i {
    font-size: 22px;
}
@media (min-width:576px) {
    i {
        font-size: 24px;
    }
}
/* Header */
header {
    border: 1px solid var(--border-color);
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    z-index: 1000;
    top: 30px;
}
.line{
    width: 1px;
    height: 22px;
    background-color: var(--border-color);
}
/* hero section */
.hero {
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
@media (min-width:768px) {
    .hero {
        align-items: start;
        text-align: left;
    }
}
.hero img {
    width: 180px;
}
.avilable {
    background-color: var(--bg-available-color);
    border-radius: 30px;
    color: var(--available-text-color);
    font-weight: 400;
    padding: 10px 15px;
}
.avilable .circle {
    width: 7px;
    height: 7px;
    background-color: var(--available-text-color);
}
@media (min-width:767px) {
    .hire-btn {
        font-size: 16px;
    }
}
